.env

# Python virtual environments
.venv/
venv/
myenv/
env/

# Python cache
__pycache__/
*.pyc
node_modules/

# Large binary files
*.pdf
*.so
*.pkl
*.zip
*.tar.gz
*.7z
*.jpg
*.png
*.mp4
*.avi

# IDE
.vscode/
.idea/

# Jupyter checkpoints
.ipynb_checkpoints/